body{
    background-color: #223040;
}

.login-form {
    background: azure;
    width: 400px;
    height: 225px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 20px;
}

.email-div {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-bottom: 10px;
}

.password-div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.login-form input {
    border: 1px solid #72f8c1;
}
